marketing_workflow.n8n.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "interval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Day",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.gainable.fr/api/v1/marketing/generate",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "gainable_marketing_secret_2024"
            }
          ]
        },
        "options": {}
      },
      "id": "api-call",
      "name": "Get AI Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "shareOn": "linkedin",
        "text": "={{ $json.linkedin }}\n\nSource: {{ $json.articleUrl }}",
        "additionalFields": {}
      },
      "id": "linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedin",
      "typeVersion": 1,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.facebook }}\n\nEn savoir plus : {{ $json.articleUrl }}",
        "additionalFields": {}
      },
      "id": "facebook-post",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        600,
        400
      ]
    }
  ],
  "connections": {
    "Every Day": {
      "main": [
        [
          {
            "node": "Get AI Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Post": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
